<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dokio - Agile software documentation</title>

    <link href="/themes/dokio/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">

      <div class="markdown-content">
        {{{markdown_file}}}
      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/themes/dokio/js/bootstrap.min.js"></script>
    <script src="/themes/dokio/js/lodash.min.js"></script>
    <script src="/themes/dokio/js/dagre.min.js"></script>
    <script src="/themes/dokio/js/nomnoml.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("pre.diagram").each(function(){
                try {
                    var diagramSource = $(this).text();
                    var canvas = $("<canvas></canvas>");
                    $(this).after(canvas);
                    nomnoml.draw(canvas.get(0), diagramSource);
                    $(this).hide();
                } catch (error){
                    $(this).addClass("bg-danger");
                }
            });
        });
    </script>
  </body>
</html>

